.buttonGroup {
  display: inline-flex;
  padding: 0.125rem;
  background-color: var(--color-bg3);
  border-radius: var(--radius-2);

  > * {
    position: relative;
  }

  > *:focus-visible {
    z-index: 2;
  }
}
