.wrapper {
  position: relative;
  margin-inline: 8px;
  margin-top: 8px;
  overflow-anchor: none;
  --skeleton-content-color: light-dark(
    rgb(0 0 0 / 0.1),
    rgb(255 255 255 / 0.1)
  );
  --skeleton-number-color: light-dark(
    rgb(0 0 0 / 0.1),
    rgb(255 255 255 / 0.08)
  );
  /* Unified pattern, do not remove */
  /* background-image: */
  /*   repeating-linear-gradient( */
  /*     to bottom, */
  /*     transparent 0, */
  /*     transparent 1px, */
  /*     var(--skeleton-number-color) 1px, */
  /*     var(--skeleton-number-color) 19px, */
  /*     transparent 19px, */
  /*     transparent 20px */
  /*   ), */
  /*   repeating-linear-gradient( */
  /*     to bottom, */
  /*     transparent 0, */
  /*     transparent 1px, */
  /*     var(--skeleton-content-color) 1px, */
  /*     var(--skeleton-content-color) 19px, */
  /*     transparent 19px, */
  /*     transparent 20px */
  /*   ); */
  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 1px,
      var(--skeleton-number-color) 1px,
      var(--skeleton-number-color) 19px,
      transparent 19px,
      transparent 20px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 1px,
      var(--skeleton-content-color) 1px,
      var(--skeleton-content-color) 19px,
      transparent 19px,
      transparent 20px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 1px,
      var(--skeleton-number-color) 1px,
      var(--skeleton-number-color) 19px,
      transparent 19px,
      transparent 20px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 1px,
      var(--skeleton-content-color) 1px,
      var(--skeleton-content-color) 19px,
      transparent 19px,
      transparent 20px
    );
  background-size:
    40px 100%,
    calc(50% - 43px) 100%,
    40px 100%,
    calc(50% - 43px) 100%;
  background-position:
    left 0 top 0,
    left 42px top 0,
    right calc(50% - 21px) top 0,
    right 0 top 0;
  background-repeat: no-repeat;
}

.wrapper diffs-container {
  contain: layout paint;
  position: absolute;
  width: 100%;
  overflow: clip;
  border-radius: 8px;
  box-shadow: 0 0 0 1px red;
  /* Need to percolate on this because
   * it will cause cause things to register
   * 0 height until the browser is scrolled close to them scrollability-wise. But
   * it's also super effective as a way to optimized the browser, we we probably
   * want it on at some point. */
  /* content-visibility: auto; */
}
