@layer base, theme, unsafe;

@layer base {
  :host {
    color-scheme: light dark;
    display: block;
    font-family:
      'SF Mono', Monaco, Consolas, 'Ubuntu Mono', 'Liberation Mono',
      'Courier New', monospace;
  }
}
