.code-btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.25rem;
  font-family: var(--font-mono);
  font-size: 0.875rem;
  color: var(--color-fg1);
  background-color: var(--color-bg);
  border: 0;
  border-radius: var(--radius-2);
  cursor: pointer;

  & > svg {
    color: var(--color-fg2);
  }

  &:hover {
    color: var(--color-fg);

    & > svg {
      color: var(--color-fg);
    }
  }
}

.codeblock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem;
  font-family: var(--font-mono);
  font-size: 0.875rem;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border-radius: var(--radius-2);

  & pre {
    width: 100%;
  }

  &::before {
    position: absolute;
    top: 0.75rem;
    left: 1.5rem;
    display: block;
    content: attr(lang);
    font-family: var(--font-body);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--color-fg3);
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: -0.5rem;
    background: transparent;
    border: 0;
  }
}
