:root {
  --color-black: #000;
  --color-white: #fff;

  --color-red: oklch(65% 0.24 24);
  --color-orange: oklch(75% 0.17 55);
  --color-yellow: oklch(86% 0.18 90);
  --color-green: oklch(70% 0.2 148);
  --color-mint: oklch(75% 0.14 180);
  --color-teal: oklch(74% 0.16 202);
  --color-cyan: oklch(75% 0.14 224);
  --color-blue: oklch(63.5% 0.21 250);
  --color-indigo: oklch(56% 0.25 290);
  --color-purple: oklch(62% 0.26 320);
  --color-pink: oklch(65% 0.24 8);
  --color-brown: oklch(64% 0.08 55);
  --color-gray: oklch(65% 0.01 286);

  /* --color-red: #ff3240;
  --color-orange: #fe8c2c;
  --color-yellow: #feca00;
  --color-green: #0dbe4e;
  --color-mint: #00cab1;
  --color-teal: #00c4d0;
  --color-cyan: #08c0ef;
  --color-blue: #008df4;
  --color-indigo: #7b43f8;
  --color-purple: #c635e4;
  --color-pink: #fc2b73;
  --color-brown: #b27f5c;
  --color-gray: #8e8e95; */

  --color-red050: color-mix(in oklch, white 90%, var(--color-red));
  --color-red100: color-mix(in oklch, white 80%, var(--color-red));
  --color-red200: color-mix(in oklch, white 60%, var(--color-red));
  --color-red300: color-mix(in oklch, white 40%, var(--color-red));
  --color-red400: color-mix(in oklch, white 20%, var(--color-red));
  --color-red500: var(--color-red);
  --color-red600: color-mix(in oklch, black 15%, var(--color-red));
  --color-red700: color-mix(in oklch, black 30%, var(--color-red));
  --color-red800: color-mix(in oklch, black 45%, var(--color-red));
  --color-red900: color-mix(in oklch, black 60%, var(--color-red));
  --color-red950: color-mix(in oklch, black 75%, var(--color-red));

  --color-orange050: color-mix(in oklch, white 90%, var(--color-orange));
  --color-orange100: color-mix(in oklch, white 80%, var(--color-orange));
  --color-orange200: color-mix(in oklch, white 60%, var(--color-orange));
  --color-orange300: color-mix(in oklch, white 40%, var(--color-orange));
  --color-orange400: color-mix(in oklch, white 20%, var(--color-orange));
  --color-orange500: var(--color-orange);
  --color-orange600: color-mix(in oklch, black 15%, var(--color-orange));
  --color-orange700: color-mix(in oklch, black 30%, var(--color-orange));
  --color-orange800: color-mix(in oklch, black 45%, var(--color-orange));
  --color-orange900: color-mix(in oklch, black 60%, var(--color-orange));
  --color-orange950: color-mix(in oklch, black 75%, var(--color-orange));

  --color-yellow050: color-mix(in oklch, white 90%, var(--color-yellow));
  --color-yellow100: color-mix(in oklch, white 80%, var(--color-yellow));
  --color-yellow200: color-mix(in oklch, white 60%, var(--color-yellow));
  --color-yellow300: color-mix(in oklch, white 40%, var(--color-yellow));
  --color-yellow400: color-mix(in oklch, white 20%, var(--color-yellow));
  --color-yellow500: var(--color-yellow);
  --color-yellow600: color-mix(in oklch, black 15%, var(--color-yellow));
  --color-yellow700: color-mix(in oklch, black 30%, var(--color-yellow));
  --color-yellow800: color-mix(in oklch, black 45%, var(--color-yellow));
  --color-yellow900: color-mix(in oklch, black 60%, var(--color-yellow));
  --color-yellow950: color-mix(in oklch, black 75%, var(--color-yellow));

  --color-green050: color-mix(in oklch, white 90%, var(--color-green));
  --color-green100: color-mix(in oklch, white 80%, var(--color-green));
  --color-green200: color-mix(in oklch, white 60%, var(--color-green));
  --color-green300: color-mix(in oklch, white 40%, var(--color-green));
  --color-green400: color-mix(in oklch, white 20%, var(--color-green));
  --color-green500: var(--color-green);
  --color-green600: color-mix(in oklch, black 15%, var(--color-green));
  --color-green700: color-mix(in oklch, black 30%, var(--color-green));
  --color-green800: color-mix(in oklch, black 45%, var(--color-green));
  --color-green900: color-mix(in oklch, black 60%, var(--color-green));
  --color-green950: color-mix(in oklch, black 75%, var(--color-green));

  --color-mint050: color-mix(in oklch, white 90%, var(--color-mint));
  --color-mint100: color-mix(in oklch, white 80%, var(--color-mint));
  --color-mint200: color-mix(in oklch, white 60%, var(--color-mint));
  --color-mint300: color-mix(in oklch, white 40%, var(--color-mint));
  --color-mint400: color-mix(in oklch, white 20%, var(--color-mint));
  --color-mint500: var(--color-mint);
  --color-mint600: color-mix(in oklch, black 15%, var(--color-mint));
  --color-mint700: color-mix(in oklch, black 30%, var(--color-mint));
  --color-mint800: color-mix(in oklch, black 45%, var(--color-mint));
  --color-mint900: color-mix(in oklch, black 60%, var(--color-mint));
  --color-mint950: color-mix(in oklch, black 75%, var(--color-mint));

  --color-teal050: color-mix(in oklch, white 90%, var(--color-teal));
  --color-teal100: color-mix(in oklch, white 80%, var(--color-teal));
  --color-teal200: color-mix(in oklch, white 60%, var(--color-teal));
  --color-teal300: color-mix(in oklch, white 40%, var(--color-teal));
  --color-teal400: color-mix(in oklch, white 20%, var(--color-teal));
  --color-teal500: var(--color-teal);
  --color-teal600: color-mix(in oklch, black 15%, var(--color-teal));
  --color-teal700: color-mix(in oklch, black 30%, var(--color-teal));
  --color-teal800: color-mix(in oklch, black 45%, var(--color-teal));
  --color-teal900: color-mix(in oklch, black 60%, var(--color-teal));
  --color-teal950: color-mix(in oklch, black 75%, var(--color-teal));

  --color-cyan050: color-mix(in oklch, white 90%, var(--color-cyan));
  --color-cyan100: color-mix(in oklch, white 80%, var(--color-cyan));
  --color-cyan200: color-mix(in oklch, white 60%, var(--color-cyan));
  --color-cyan300: color-mix(in oklch, white 40%, var(--color-cyan));
  --color-cyan400: color-mix(in oklch, white 20%, var(--color-cyan));
  --color-cyan500: var(--color-cyan);
  --color-cyan600: color-mix(in oklch, black 15%, var(--color-cyan));
  --color-cyan700: color-mix(in oklch, black 30%, var(--color-cyan));
  --color-cyan800: color-mix(in oklch, black 45%, var(--color-cyan));
  --color-cyan900: color-mix(in oklch, black 60%, var(--color-cyan));
  --color-cyan950: color-mix(in oklch, black 75%, var(--color-cyan));

  --color-blue050: color-mix(in oklch, white 90%, var(--color-blue));
  --color-blue100: color-mix(in oklch, white 80%, var(--color-blue));
  --color-blue200: color-mix(in oklch, white 60%, var(--color-blue));
  --color-blue300: color-mix(in oklch, white 40%, var(--color-blue));
  --color-blue400: color-mix(in oklch, white 20%, var(--color-blue));
  --color-blue500: var(--color-blue);
  --color-blue600: color-mix(in oklch, black 15%, var(--color-blue));
  --color-blue700: color-mix(in oklch, black 30%, var(--color-blue));
  --color-blue800: color-mix(in oklch, black 45%, var(--color-blue));
  --color-blue900: color-mix(in oklch, black 60%, var(--color-blue));
  --color-blue950: color-mix(in oklch, black 75%, var(--color-blue));

  --color-indigo050: color-mix(in oklch, white 90%, var(--color-indigo));
  --color-indigo100: color-mix(in oklch, white 80%, var(--color-indigo));
  --color-indigo200: color-mix(in oklch, white 60%, var(--color-indigo));
  --color-indigo300: color-mix(in oklch, white 40%, var(--color-indigo));
  --color-indigo400: color-mix(in oklch, white 20%, var(--color-indigo));
  --color-indigo500: var(--color-indigo);
  --color-indigo600: color-mix(in oklch, black 15%, var(--color-indigo));
  --color-indigo700: color-mix(in oklch, black 30%, var(--color-indigo));
  --color-indigo800: color-mix(in oklch, black 45%, var(--color-indigo));
  --color-indigo900: color-mix(in oklch, black 60%, var(--color-indigo));
  --color-indigo950: color-mix(in oklch, black 75%, var(--color-indigo));

  --color-purple050: color-mix(in oklch, white 90%, var(--color-purple));
  --color-purple100: color-mix(in oklch, white 80%, var(--color-purple));
  --color-purple200: color-mix(in oklch, white 60%, var(--color-purple));
  --color-purple300: color-mix(in oklch, white 40%, var(--color-purple));
  --color-purple400: color-mix(in oklch, white 20%, var(--color-purple));
  --color-purple500: var(--color-purple);
  --color-purple600: color-mix(in oklch, black 15%, var(--color-purple));
  --color-purple700: color-mix(in oklch, black 30%, var(--color-purple));
  --color-purple800: color-mix(in oklch, black 45%, var(--color-purple));
  --color-purple900: color-mix(in oklch, black 60%, var(--color-purple));
  --color-purple950: color-mix(in oklch, black 75%, var(--color-purple));

  --color-pink050: color-mix(in oklch, white 90%, var(--color-pink));
  --color-pink100: color-mix(in oklch, white 80%, var(--color-pink));
  --color-pink200: color-mix(in oklch, white 60%, var(--color-pink));
  --color-pink300: color-mix(in oklch, white 40%, var(--color-pink));
  --color-pink400: color-mix(in oklch, white 20%, var(--color-pink));
  --color-pink500: var(--color-pink);
  --color-pink600: color-mix(in oklch, black 15%, var(--color-pink));
  --color-pink700: color-mix(in oklch, black 30%, var(--color-pink));
  --color-pink800: color-mix(in oklch, black 45%, var(--color-pink));
  --color-pink900: color-mix(in oklch, black 60%, var(--color-pink));
  --color-pink950: color-mix(in oklch, black 75%, var(--color-pink));

  --color-brown050: color-mix(in oklch, white 90%, var(--color-brown));
  --color-brown100: color-mix(in oklch, white 80%, var(--color-brown));
  --color-brown200: color-mix(in oklch, white 60%, var(--color-brown));
  --color-brown300: color-mix(in oklch, white 40%, var(--color-brown));
  --color-brown400: color-mix(in oklch, white 20%, var(--color-brown));
  --color-brown500: var(--color-brown);
  --color-brown600: color-mix(in oklch, black 15%, var(--color-brown));
  --color-brown700: color-mix(in oklch, black 30%, var(--color-brown));
  --color-brown800: color-mix(in oklch, black 45%, var(--color-brown));
  --color-brown900: color-mix(in oklch, black 60%, var(--color-brown));
  --color-brown950: color-mix(in oklch, black 75%, var(--color-brown));

  --color-gray020: color-mix(in oklch, white 95%, var(--color-gray));
  --color-gray040: color-mix(in oklch, white 93%, var(--color-gray));
  --color-gray060: color-mix(in oklch, white 91%, var(--color-gray));
  --color-gray080: color-mix(in oklch, white 85%, var(--color-gray));
  --color-gray100: color-mix(in oklch, white 80%, var(--color-gray));
  --color-gray200: color-mix(in oklch, white 60%, var(--color-gray));
  --color-gray300: color-mix(in oklch, white 40%, var(--color-gray));
  --color-gray400: color-mix(in oklch, white 20%, var(--color-gray));
  --color-gray500: var(--color-gray);
  --color-gray600: color-mix(in oklch, black 15%, var(--color-gray));
  --color-gray700: color-mix(in oklch, black 30%, var(--color-gray));
  --color-gray800: color-mix(in oklch, black 45%, var(--color-gray));
  --color-gray900: color-mix(in oklch, black 75%, var(--color-gray));
  --color-gray920: color-mix(in oklch, black 80%, var(--color-gray));
  --color-gray940: color-mix(in oklch, black 85%, var(--color-gray));
  --color-gray960: color-mix(in oklch, black 90%, var(--color-gray));
  --color-gray980: color-mix(in oklch, black 95%, var(--color-gray));
}
