* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-ui);
  line-height: 1.5;
  color: var(--color-fg2);
  background-color: var(--color-bg1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre {
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  display: block;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
select,
textarea {
  width: 100%;
}

a {
  color: var(--color-fg);
  /* font-weight: 500; */
  text-decoration: none;

  &:not([class]) {
    /* font-weight: 500; */
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.5px;
    text-decoration-color: var(--color-fg4);

    &:hover {
      text-decoration-color: var(--color-fg);
      text-decoration-thickness: 1px;
    }
  }
}
