h1,
h2,
h3 {
  color: var(--color-fg);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}
