:root {
  --pjs-bg: white;
  --pjs-fg: black;
}

[data-pjs] {
  /* These colors inherit from themed colors provided from the Shiki theme, and
   * then build up colors off of them */
  --pjs-bg: var(--pjs-light-bg, var(--pjs-bg));
  --pjs-bg-buffer: color-mix(in srgb, var(--pjs-bg) 97%, black);
  --pjs-bg-hover: color-mix(in srgb, var(--pjs-bg) 95%, black);

  --pjs-fg: var(--pjs-light, var(--pjs-fg));
  --pjs-fg-number: color-mix(in srgb, currentColor 80%, white);

  /* Currently these colors aren't dark/light themed */
  --pjs-bg-deletions: color-mix(in srgb, var(--pjs-bg) 90%, rgb(255, 0, 0));
  --pjs-bg-additions: color-mix(in srgb, var(--pjs-bg) 90%, rgb(0, 255, 0));
  --pjs-bg-deletions-number: color-mix(
    in srgb,
    var(--pjs-bg) 85%,
    rgb(255, 0, 0)
  );
  --pjs-bg-additions-number: color-mix(
    in srgb,
    var(--pjs-bg) 85%,
    rgb(0, 255, 0)
  );

  --pjs-code-grid: minmax(min-content, max-content) 1fr;

  background-color: var(--pjs-bg);
  color: var(-pjs-fg);
}

@media (prefers-color-scheme: dark) {
  [data-pjs] {
    --pjs-bg: var(--pjs-dark-bg, var(--pjs-bg));
    --pjs-bg-buffer: color-mix(in srgb, var(--pjs-bg) 97%, white);
    --pjs-bg-hover: color-mix(in srgb, var(--pjs-bg) 95%, white);

    --pjs-fg: var(--pjs-dark, var(--pjs-fg));
    --pjs-fg-number: color-mix(in srgb, currentColor 50%, #000);
  }
}

[data-pjs][data-theme='dark'] {
  --pjs-bg: var(--pjs-dark-bg, var(--pjs-bg));
  --pjs-bg-buffer: color-mix(in srgb, var(--pjs-bg) 97%, white);
  --pjs-bg-hover: color-mix(in srgb, var(--pjs-bg) 95%, white);

  --pjs-fg: var(--pjs-dark, var(--pjs-fg));
  --pjs-fg-number: color-mix(in srgb, currentColor 70%, black);
}

[data-type='split'][data-overflow='wrap'] {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, var(--pjs-code-grid));
}

[data-type='split'][data-overflow='scroll'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

[data-code] {
  display: block;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: var(--pjs-code-grid);
  overflow-x: auto;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}

[data-type='split'][data-overflow='wrap'] [data-code] {
  display: contents;
}

[data-line] {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 3;
}

[data-buffer] {
  grid-column: 1 / 3;
  user-select: none;
  background-color: var(--pjs-bg-buffer);
  min-height: 1lh;
}

[data-separator] {
  grid-column: span 2;
  height: 4px;
  background-color: var(--pjs-bg-buffer);
}

[data-pjs] [data-line] {
  background-color: var(--pjs-bg);
  color: var(--pjs-fg);
}

[data-type='split'][data-overflow='wrap'] [data-deletions] [data-line],
[data-type='split'][data-overflow='wrap'] [data-deletions] [data-buffer],
[data-type='split'][data-overflow='wrap'] [data-deletions] [data-separator] {
  grid-column: 1 / 3;
}

[data-type='split'][data-overflow='wrap'] [data-additions] [data-line],
[data-type='split'][data-overflow='wrap'] [data-additions] [data-buffer],
[data-type='split'][data-overflow='wrap'] [data-additions] [data-separator] {
  grid-column: 3 / 5;
}

[data-line]:hover [data-column-number],
[data-line]:hover [data-column-content] {
  background-color: var(--pjs-bg-hover);
}

[data-additions] [data-line-type='change']:hover [data-column-content] {
  background-color: var(--pjs-bg-additions-number);
}

[data-deletions] [data-line-type='change']:hover [data-column-content] {
  background-color: var(--pjs-bg-deletions-number);
}

[data-overflow='wrap'] [data-column-content] {
  white-space: pre-wrap;
}

[data-overflow='scroll'] [data-column-content] {
  white-space: pre;
  min-height: 1lh;
}

[data-column-number] {
  text-align: right;
  position: sticky;
  left: 0;
  min-width: 1ch;
  user-select: none;
  background-color: var(--pjs-bg);
  color: var(--pjs-fg-number);
}

[data-pjs] [data-additions] [data-line-type='change'] [data-column-number] {
  background-color: var(--pjs-bg-additions-number);
}

[data-pjs] [data-deletions] [data-line-type='change'] [data-column-number] {
  background-color: var(--pjs-bg-deletions-number);
}

[data-additions] [data-line-type='change'],
[data-additions] [data-line-type='change'] [data-column-number] {
  background-color: var(--pjs-bg-additions);
}

[data-deletions] [data-line-type='change'],
[data-deletions] [data-line-type='change'] [data-column-number] {
  background-color: var(--pjs-bg-deletions);
}
